@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/ShowHideInfoScript.js")



<div class="row services">

    @{
        int i = 1;
    }

    <h3 id="page_title">Услуги</h3>

    @foreach (Service serv in ViewBag.serviceList)
    {
        <div class="col-md-4 serviceblock">
            <img src="@Url.Content(string.Format("~/Images/Content/Services/{0}.jpg", i))" />
            <h4>
                @Html.DisplayFor(modelItem => serv.s_title)
            </h4>
            
            <div > 
                <a class="btn_show btn btn-default">Информация</a>   
                <div class="addInfo">
                    <h5 class="info_hide">
                        Стоимость 1 занятия:
                        @Html.DisplayFor(modelItem => serv.s_price) грн
                    </h5>
                </div>                          
                
            </div>
        </div>

        i++;
    }
</div>



