<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/HeadesStyleSheet.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <h1 id="title"><a href="#">Фитнес-центр</a></h1>
                
                <div class="contacts"> 
                    <h3>ул. Сумская, 18/20, +38(098)-111-22-33</h3>                
                    <ul class="social">
                        <li><a href="https://vk.com/" target="_blank" id="vk">Vkontakte</a></li>
                        <li><a href="https://www.facebook.com/" target="_blank" id="fb">Facebook</a></li>
                        <li><a href="https://twitter.com/" target="_blank" id="tw">Twitter</a></li>
                        <li><a href="https://www.google.com.ua/" target="_blank" id="go">Google</a></li>
                        <li><a href="https://www.instagram.com" target="_blank" id="insta">Instagram</a></li>
                        <li><a href="https://ok.ru/" target="_blank" id="ok">Odnoklassniki</a></li>
                    </ul>
                </div>

        </div>
        
    </div>
    <div class="container body-content">
        <div class="search">
            <form action="#">
                <input type="search" placeholder="Search..." />
                <button>Search</button>
            </form>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
